<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt scraping</title>
    <link rel="stylesheet" href="/promptscraping/promptscraping.css">
</head>
<body>
    <div class="container">
        <label for="url">What do you wanna scrape today?  <img src="/assets/imagine1.png" alt="imagine image"></label>
        <textarea id="url" placeholder="eg: Find recent articles and research on how AI is used in climate change prediction, and summarize the key findings into a CSV table with source, summary, and publication date." rows="4"></textarea>
        <div class="slider-container">
          <label for="volumeSlider">Select Value:</label>
          <input type="range" id="volumeSlider" min="0" max="100" step="1" value="50">
          <span class="slider-label" id="volumeValue">5</span>
        </div>
        <div>
            <label for="role">What's your role?</label>
            <div class="role-buttons">
                <button class="role-btn" data-role="student">Student</button>
                <button class="role-btn" data-role="Freelancer">Freelancer</button>
                <button class="role-btn" data-role="corporate-analyst">Corporate Analyst</button>
                <button class="role-btn" data-role="journalist">Journalist</button>
                <button class="role-btn" data-role="marketer">Marketer</button>
                <button class="role-btn" data-role="data-scientist">Data Scientist</button>
                <button class="role-btn" data-role="researcher">Researcher</button>
                <button class="role-btn" data-role="blogger">Blogger</button>
                <button class="role-btn" data-role="startup-founder">Startup Founder</button>
                <button class="role-btn" data-role="recruiter">Recruiter</button>
                <button class="role-btn" data-role="e-commerce-seller">E-commerce Seller</button>
                <button class="role-btn" data-role="teacher">Teacher</button>
                <button class="role-btn" data-role="other">Other</button>
            </div>
        </div>
        
        <button class="btn">Scrape now</button>
    </div>

    <script src="/promptscraping/promptscraping.js"></script>
</body>
</html>
